Repository yaml/yaml-spec, pull requests merged in 2021-09, with the labels that each got.

#142 Simplify favicon SVG.
  www/build/favicon.svg
Labels: Infrastructure

#148 Use favicon.svg from yaml/yaml-common repo
  www/build/Makefile
  www/build/_includes/head-ref-parser.html
  www/build/favicon.svg
  www/ext/.gitignore
  www/ext/Makefile
  www/ext/ext.mk
Labels: Infrastructure

#151 Fix leading blank lines in tool/bin/markydown-to-kramdown
  spec/spec.md
  tool/bin/markydown-to-kramdown
  tool/docker/markydown-to-kramdown/Dockerfile
Labels: Infrastructure

#147 Fix and improve tags in model diagrams
  spec/tex/model2.tex
  spec/tex/present2.tex
  spec/tex/represent2.tex
  spec/tex/serialize2.tex
Labels: Spec Change

#145 Fix/reformat scalar node content in the diagrams.
  spec/tex/model2.tex
  spec/tex/present2.tex
  spec/tex/represent2.tex
  spec/tex/serialize2.tex
Labels: Spec Change

#173 Fix example 6.27 "Invalid Tag Shorthand"
  spec/1.2.2/spec.md
Labels: Spec Change

#174 Fix example 8.2 "Block Indentation Indicator"
  spec/1.2.2/spec.md
Labels: Spec Change

#175 Fix example 8.5 "Chomping Trailing Lines"
  spec/1.2.2/spec.md
Labels: Spec Change

#177 Fix example 8.13 "Final Empty Lines"
  spec/1.2.2/spec.md
Labels: Spec Change

#179 Production formatting
  spec/1.2.2/spec.md
Labels: Spec Change

#184 Add more items to 1.2.0 changelog
  spec/1.2.2/spec-changes.md
Labels: Spec Change

#187 Fix for `c-indentation-indicator`
  spec/1.2.2/spec.md
Labels: Spec Change

#188 Hide first 2 lines from table of contents
  www/main/spec.scss
Labels: Style

#190 Add missing error case in content indentation rules
  spec/1.2.2/spec.md
Labels: Spec Change

#99 Add contributing.md and pull_request_template.md files
  .github/contributing.md
  .github/pull_request_template.md
Labels: Infrastructure

#193 Add non-whitespace lookaheads
  spec/1.2.2/spec.md
Labels: Spec Change

#201 Some playground docker adjustments
  tool/docker/playground-server/docker.mk
  www/external/Makefile
  www/main/playground/devel.html
  www/main/playground/javascript.html
  www/main/playground/parser.html
  www/main/playground/playground.coffee
Labels: Infrastructure

#200 Clarify behavior of escaped line breaks in double-quoted scalars
  spec/1.2.2/spec.md
Labels: Spec Change

#202 Add another whitespace trimming clarification
  spec/1.2.2/spec.md
Labels: Spec Change

#203 Use libyaml author's preferred name spelling
  .aspell
  spec/1.2.2/spec.md
Labels: Spec Change

#205 Add CPP, Snake, DotNet, Hs, CPP and Ruamel to parser playground
  www/main/playground/parser.html
  www/main/playground/playground.coffee
Labels: Infrastructure

#206 Chapter 1 review and adjustments
  spec/1.2.2/links.yaml
  spec/1.2.2/spec.md
  tool/bin/markydown-to-kramdown
Labels: Spec Change

#207 Chapter 2 review and adjustments
  spec/1.2.2/spec.md
Labels: Spec Change

#209 Chapter 4 - Use dt/dd form for production syntax points
  spec/1.2.2/spec.md
  tool/bin/markydown-to-kramdown
  tool/docker/markydown-to-kramdown/docker.mk
Labels: Spec Change

#211 Chapter 6 - Split paragraph and make second one a Note
  spec/1.2.2/spec.md
Labels: Spec Change

#213 Revise glossary
  spec/1.2.2/ext/glossary.md
Labels: Supplemental Documents

#216 Chapter 7 - Use code quoting to include the space for indicators
  spec/1.2.2/spec.md
Labels: Spec Change

#217 Chapter 9 - Remove suspect use cases
  spec/1.2.2/spec.md
Labels: Spec Change
